# Environment
.env

# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# macOS
.DS_Store
